

.SummaryPage {
    text-align: center;
    padding: 20px;
  }
  
  .SummaryPage h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .SummaryPage .details_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  
  .SummaryPage .detail_summary {
    text-align: center;
  }
  
  .SummaryPage .detail_summary p {
    margin-bottom: 20px;
  }
  
  .SummaryPage .detail_image {
    text-align: center;
  }
  
  .SummaryPage .banner_image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .SummaryPage .movie_details p {
    margin-bottom: 10px;
  }
  
  .SummaryPage .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .SummaryPage .btn:hover {
    background-color: #0056b3;
  }
  






